---


import Layout from "../../layouts/Layout.astro";
import Relatoria1 from "../../components/relatorias/Relatoria1.astro";
---



<Layout title="Juntxs: Encuentros vivos, cultura en movimiento | Relatorias">

</Layout>

    <section class="bg-skyblue">
        <div class="container mx-auto p-4 md:p-6 lg:p-8">
            <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white text-center mb-4 md:mb-6 lg:mb-8">Relatorias</h2>
            <p class="text-center mb-4 md:mb-6 lg:mb-8 text-lg md:text-xl lg:text-2xl text-white bg-primary/80 rounded-lg p-2">Aquí encontrarás las relatorias de los encuentros, en las que se profundiza en los temas y experiencias vividas.</p>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:gap-8">
                <a href="/relatorias/1" class="bg-primary/80 rounded-lg shadow-lg p-4 md:p-6 lg:p-8 border border-skyblue/50">
                    <h3 class="text-white text-lg md:text-xl lg:text-2xl font-bold">Relatoria 1</h3>
                    <p class="text-sm md:text-base lg:text-lg text-white">Encuentro 1. Cuerpos y cuidados</p>
                </a>
                <a href="/relatorias/2" class="bg-primary/80 rounded-lg shadow-lg p-4 md:p-6 lg:p-8 border border-skyblue/50">
                    <h3 class="text-white text-lg md:text-xl lg:text-2xl font-bold">Relatoria 2</h3>
                    <p class="text-sm md:text-base lg:text-lg text-white">Encuentro 2. Cuidados y sostenibilidad</p>
                </a>
                <a href="/relatorias/3" class="bg-primary/80 rounded-lg shadow-lg p-4 md:p-6 lg:p-8 border border-skyblue/50">
                    <h3 class="text-white text-lg md:text-xl lg:text-2xl font-bold">Relatoria 3</h3>
                    <p class="text-sm md:text-base lg:text-lg text-white">Encuentro 3. Cuidados y cooperaci n</p>
                </a>
            </div>
        </div>
    </section>



