---
import Layout from '../../layouts/Layout.astro';
---



<Layout title="Juntxs: Encuentros vivos, cultura en movimiento | Acerca de">
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12">
      <h1 class="text-3xl sm:text-4xl font-bold text-white mb-4 sm:mb-8 text-center">Juntxs:</h1>
 


    <p class="bg-primary/80 rounded-xl m-4 p-2 text-lg text-white mb-6 sm:mb-8 max-w-3xl mx-auto">
      Este proyecto busca potenciar la sostenibilidad de las prácticas artísticas y culturales entre Platohedro, organización artística comunitaria de Medellín y El Eje, organización dedicada al fortalecimiento artístico y cultural con actuación en la zona de Bogotá rural (Cundinamarca) y Piedecuesta (Santander), por medio del intercambio de experiencias y conocimientos en los ec sistemas culturales locales, la circulación artística y la realización de acciones formativas conjuntas. 
  </p>
  <p class="bg-primary/80 rounded-xl m-4 p-2 text-lg text-white mb-6 sm:mb-8 max-w-3xl mx-auto">
    El proyecto se realizará en 3 etapas: intercambio, circulación y fortalecimiento de conocimientos, que serán realizados en Medellín, Bogotá rural y Pie de cuesta. Estas acciones conjuntas lograrán una mayor visibilidad de nuestro trabajo, la generación de nuevas redes de intercambio entre los ecosistemas artísticos comunitarios de Medellín y Bogotá rural,además de ampliar el acceso a la circulación de artistas en escenarios no convencionales como el Festival de la Tigra en Pie de cuesta. </p>


      
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6 md:gap-8 ">
        <div class="col-span-1 sm:col-span-2 md:col-span-3 flex justify-center">
          <img src="/imagenes/FOTO1.jpg" alt="Juntxs" class="w-full  h-40 sm:h-48 object-cover rounded-lg" />
        </div>
      </div>
    </main>
  </Layout>