---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Juntxs: Encuentros vivos, cultura en movimiento | Sesiones Virtuales"
>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h1 class="text-4xl font-bold text-white mb-8 text-center">
      Sesiones Virtuales
    </h1>

    <div class="">
      <p class="bg-primary/80 rounded-xl p-2 text-lg text-white m-8">
        Buscando aportar al fortalecimiento de ecosistemas artísticos se
        realizarán 3 espacios de reconocimiento y apropiación de herramientas
        colectivas para la sostenibilidad desde un enfoque multidimensional.
        Estas acciones se realizan en el marco de la estrategia ABC de LEA, un
        espacio de intercambio para compartir y transferir información,
        herramientas y metodologías que aporten al fortalecimiento de la gestión
        artística y cultural comunitaria <br /><br />
        La modalidad es virtual y metodológicamente se realizarán 3 sesiones de máximo
        (2) horas con expertas invitadas a conversar sobre su experiencia, aprendizajes
        y retos para el abordaje de la temática en cuestión. <br /> <br /> Cada sesión contará
        con un material digital de apropiación del contenido para compartir posteriormente
        con las personas participantes. Las primeras dos sesiones se enmarcan en
        la temática de Sostenibilidad en los procesos culturales- inspiración y experiencias
        en la sostenibilidad multidimensional de los procesos culturales y artísticos.
        <br />
        <br /> La tercera sesión se enfocará en compartir los aprendizajes y reflexiones
        conjuntas para proyectar los siguientes pasos en la construcción de la articulación.
        Todas las sesiones serán abiertas al público y de participación gratuita.
        <br /> Todas las actividades contarán con registro audiovisual y fotográfico,
        y serán divulgadas y documentadas en las redes sociales de ambas organizaciones.
        A su vez, las sesiones de transferencia y apropiación contarán con una relatoría
        gráfica que estará disponible online en el microsite del proyecto. Adicionalmente,
        las sesiones de apropiación (online) serán grabadas y compartidas posteriormente
        para su visualización en redes.
      </p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6"
      >
        <div class="bg-gray-100 p-4 rounded-lg">
          <div class="aspect-w-16 aspect-h-9 mb-4">
            <div
              class="bg-gray-200 rounded-lg flex items-center justify-center"
            >
              <span class="text-gray-800">Sesión 1</span>
            </div>
          </div>

          <iframe
            src="https://www.youtube.com/embed/qIrFkb-qrzI?si=Oi0IoMc_CWcc845L"
            width="100%"
            height="315"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="rounded-lg"
          >
          </iframe>
          <p class="text-lg text-gray-600">
            Descripción breve de la sesión virtual
          </p>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg">
          <div class="aspect-w-16 aspect-h-9 mb-4">
            <div
              class="bg-gray-200 rounded-lg flex items-center justify-center"
            >
              <span class="text-gray-800">Sesión 2</span>
            </div>
          </div>

          <iframe
            src="https://www.youtube.com/embed/dQLC69gh93w?si=HjK4vBInNHwIL2GU"
            width="100%"
            height="315"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="rounded-lg"
          >
          </iframe>
          <p class="text-lg text-gray-600">
            Descripción breve de la sesión virtual
          </p>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg">
          <div class="aspect-w-16 aspect-h-9 mb-4">
            <div
              class="bg-gray-200 rounded-lg flex items-center justify-center"
            >
              <span class="text-gray-800">Sesión 3</span>
            </div>
          </div>

          <iframe
            src="https://www.youtube.com/embed/EUkdoOhGvMQ?si=rfmCnmbo3FZSDwiF"
            width="100%"
            height="315"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="rounded-lg"
          >
          </iframe>
          <p class="text-lg text-gray-600">
            Descripción breve de la sesión virtual
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
