---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Circulacion from '../components/Circulacion.astro';
import Intercambios from '../components/Intercambios.astro';
import SesionesVirtuales from '../components/SesionesVirtuales.astro';
---

<Layout title="Juntxs: Encuentros vivos,  cultura en movimiento">
  <main class="snap-y snap-mandatory h-screen overflow-y-auto">
    <!-- Hero Section -->
  <Hero />

    <!-- Circulación Section -->
    <Circulacion />
    <!-- Intercambios Section -->
    <Intercambios />

    <!-- Sesiones Virtuales Section -->
    <SesionesVirtuales />
  </main>
</Layout>