---
---

<section class="min-h-[100vh] md:h-screen snap-start flex items-center justify-center relative py-16 px-4">
    <div class="bg-secondary/80 backdrop-blur-sm p-6 sm:p-8 rounded-lg text-white text-center max-w-3xl mx-auto">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 sm:mb-8">Juntxs</h1>
      <p class="text-base sm:text-xl md:text-2xl max-w-2xl mx-auto">Este proyecto busca potenciar la sostenibilidad de las
        prácticas artísticas y culturales entre Platohedro,
        organización artística comunitaria de Medellín y El Eje,
        organización dedicada al fortalecimiento artístico y cultural
        con actuación en la zona de Bogotá rural (Cundinamarca) y
        Piedecuesta (Santander), por medio del intercambio de
        experiencias y conocimientos en los ecosistemas culturales
        locales, la circulación artística y la realización de acciones
        formativas conjuntas.</p>
    </div>
  </section>