---
---

<section class="min-h-screen snap-start flex flex-col items-center justify-center relative py-16 px-4">
    <div class="bg-secondary/80 backdrop-blur-sm p-6 sm:p-8 rounded-lg text-white text-center max-w-3xl mx-auto">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 sm:mb-8">Juntxs: Encuentros vivos, cultura en movimiento </h1>
      <img src="/imagenes/FOTO1.jpg" alt="Imagen de la portada" class="w-full h-48 sm:h-64 md:h-80 object-cover rounded-lg mb-4 sm:mb-8" />
      <p class="text-lg max-w-2xl mx-auto">Este proyecto busca potenciar la sostenibilidad de las prácticas artísticas y culturales entre Platohedro, organización artística comunitaria de Medellín y El Eje, organización dedicada al fortalecimiento artístico y cultural con actuación en la zona de Bogotá rural (Cundinamarca) y Piedecuesta (Santander)
    </p>
    <div class="mt-8">
      <a href="/acercade"><button class="inline-block bg-primary text-white px-4 sm:px-6 py-2 sm:py-3 rounded-lg font-semibold hover:bg-primary/80 transition-colors">Ver más</button></a>
    </div>
    </div>
  </section>