---
---

<section class="min-h-[80vh] md:h-screen snap-start flex items-center justify-center relative py-12 px-4">
  <div class="bg-secondary/80 backdrop-blur-sm p-6 sm:p-8 rounded-lg text-white max-w-4xl mx-auto flex flex-col md:flex-row-reverse gap-6 md:gap-8 items-center">
    <div>
      <h2 class="text-3xl sm:text-4xl font-bold mb-4 sm:mb-6">Sesiones Virtuales</h2>
      <p class="text-xl mb-4 sm:mb-6">Apropiación y fortalecimiento de conocimientos sobre la sostenibilidad de proyectos artísticos y culturales (Bogotá - Piedecuesta - Medellín) </p>
      <div class="text-center md:text-left">
        <a href="/sesiones-virtuales" class="inline-block bg-primary text-white px-4 sm:px-6 py-2 sm:py-3 rounded-lg font-semibold hover:bg-primary/80 transition-colors">Ver más</a>
      </div>
    </div>
    <img src="/imagenes/foto2.jpeg" alt="Circulación" class="w-full md:w-1/2 rounded-lg object-cover max-h-[250px] md:max-h-none" />
  </div>
</section>
